html {
	background-color: white;
}
body {
	margin-top: 10px;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #d96a1a;
}
a:hover {
	color: #9d3d00;
}
#logo {
	display: block;
}
.center {
	margin: auto;
}
#promo {
	background-color: black;
}
#woman {
	background: black url(img/woman-full.jpg) no-repeat bottom right;
	filter: grayscale(1);
	-moz-filter: grayscale(1);
	-webkit-filter: grayscale(1);	
	-moz-transition: all 1s linear;
	-webkit-transition: all 1s linear;
	transition: all 1s linear;	
	height: 330px;
}
#woman:hover {
	filter: none;
	-moz-filter: none;
	-webkit-filter: none;	
	-moz-transition: all 1s linear;
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}
#promo #slides {
	margin-top: 15px;
}
#promo #slides .slides_container {
	overflow: visible !important;
}
#content {
	margin: 15px auto;
	font-size: 16px;
	line-height: 1.7em;
}
#content p {
	margin-top: 1.7em;
}
#content #logos {
	margin: 30px auto;
}
.text-center {
	text-align: center;	
}
dl.text-center {
	margin: 0px;	
}
dl.text-center dd, dl.text-center dt {
	line-height: 1.5em;
}
dl.text-center dd {
	margin-bottom: 10px;
}